doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.menu#my_menu
			a(href='/') Главная
			a(href='news') Новости
			a(href='about') О компании
			a(href='services') Услуги
			
		if userid
			a(href='/logout') Выход
		else 
			a(href='/reg') Регистрация !{userid}
	block content
	
